<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>

    <appender name="Composite" type="log4net.Appender.ForwardingAppender">
      <appender-ref ref="Console" />
      <appender-ref ref="EventLog" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="RollingFileDebug" />
      <appender-ref ref="VsTraceAppender" />
      <appender-ref ref="SeqAppender" />
    </appender>

    <appender name="Diagnostic" type="log4net.Appender.ForwardingAppender">
      <appender-ref ref="Composite" />
      <appender-ref ref="RollingFileDiagnostic" />
    </appender>

    <appender name="SeqAppender" type="Seq.Client.Log4Net.SeqAppender, Seq.Client.Log4Net">
      <threshold value="DEBUG" />
      <bufferSize value="1" />
      <serverUrl value="http://wgvm9.watchguardvideo.local:5341" />
    </appender>

    <appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
      <threshold value="ALL"/>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Cyan" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [%-5level] [%3thread] [%username] [%logger{1}]  %message%newline" />
      </layout>
    </appender>

    <appender name="EventLog" type="log4net.Appender.EventLogAppender" >
      <threshold value="ERROR"/>
      <applicationName value="WatchGuard Job Queue Service" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} [%-5level : %thread : %logger{1}] %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFileDiagnostic" type="log4net.Appender.RollingFileAppender">
      <threshold value="ALL"/>
      <file value="C:\WatchGuardVideo\Logs\Diagnostic-Example.Bootstrapping.TopShelf" />
      <appendToFile value="true" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="10" />
      <rollingStyle value="Composite" />
      <datePattern value=".yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <countDirection value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [%-5level] [%3thread] [%username] [%logger{1}]  %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <threshold value="INFO"/>
      <file value="C:\WatchGuardVideo\Logs\Example.Bootstrapping.TopShelf.log" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [%-5level] [%3thread] [%username] [%logger{1}]  %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFileDebug" type="log4net.Appender.RollingFileAppender">
      <threshold value="DEBUG"/>
      <file value="C:\WatchGuardVideo\Logs\Debug-Example.Bootstrapping.TopShelf.log" />
      <appendToFile value="true" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="10" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <countDirection value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [%-5level] [%3thread] [%username] [%logger{1}]  %message%newline" />
      </layout>
    </appender>

    <appender name="VsTraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [%-5level : %thread] %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="Composite" />
    </root>

  </log4net>
</configuration>